*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

}

.paper-head{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  padding: 15px 10px;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: black;
  font-weight: 700;
  padding: 35px 10px;
  font-size: 42px;
  
}